@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: rgb(80, 80, 80);
}

h1{
  color: #ee4f84;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px white;
  text-align: center;
  background-color: rgb(133, 133, 133);
}